<h1>Admins Page:</h1>
<ul>
	<li><%=link_to "List of bookings", bookings_path %></li>
	<li><%=link_to "List of rooms", rooms_path %></li>
	<li><%=link_to "List of users", users_path %></li>
</ul>
<br>
<%= link_to 'Back to home page', home_index_path %>